<template>
  <div></div>
</template>

<script>
export default {
  name: '<%= props.name  %>',
  components: {
    New
  },
  data() {
    return {
      key: value
    }
  },
  mounted() {},
  methods: {
    name() {}
  }
}
</script>

<style lang="scss" scoped>
</style>